

#container{
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-top-radius: 10px;
	background-color:white;
	padding: 10px 20px 10px 20px;
	margin-left: auto;
  	margin-right: auto;
	border:solid;
}

body{
	font: 10pt Helvetica;
    line-height:100%;
}

#sectiontitle{
    padding:5px;
    font-size: 150%;
	font-weight: bold;
	text-align: center;
}

img{
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-top-radius: 10px;
    float:left;
}

#controltitle{
    text-align:right;
    font-style:italic;
}

#padder{
    padding:10px;
}